.about {
  background: var(--black);
  color: var(--white);
  padding: 60px;
  width: 100vw;
  position: relative;
  overflow: hidden;

}

.about__title {
  left: -55px;
  top: -100px;
  transition: top 0.5s 0.5s ease;

  &.is-showed {
    top: 85px;
  }
}

.about__text {
  line-height: 150%;
  text-align: justify;
  font-size: 14px;

  &:not(:last-child) {
    padding-bottom: 20px;
  }

  strong {
    text-transform: uppercase;
    font-weight: bolder;
  }
}


.about__link {
  color: var(--white);
  font-weight: bold;
  position: relative;
  z-index: 2;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: var(--blue);
    z-index: -1;
    transition: height 0.3s ease;
  }

  &:hover::after {
    height: 25px;
  }

  
}