.home {
  height: 100vh;
  width: 100vw;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.home__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: -130px;
  transform: rotate(90deg);
  top: 160px;
  color: var(--blue);
}

.home__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--black);
}

.home__welcome {
  width: 200px;
  height: 200px;
  background: red;
}

.home__flipcard {
  width: 200px;
  height: 200px;
  padding: 10px;
}