.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  transform: rotate(90deg);
  color: var(--blue);

  @include desktop {
    position: static;
    margin-bottom: 40px;
    transform: translateY(-300px);
  }
}