body {
  cursor: url('../assets/cursor/cursor.svg'), auto;
}

.cursor {
  width: 12px;
  height: 12px;
  background: var(--black);
  position: absolute;
  display: none;
  z-index: 100;
  transition: 0.2s ease-out ;
  pointer-events: none;

  &.is-white {
   background: var(--white);
  }
}